# library folder
externals/lib

# binary folders
application/*/bin

# compiler output
project/win_x64/*.pdb

# vim session
engine/session.vim
common/session.vim
application/**/session.vim

# temporary files
*.swp
