# library folder
engine/externals/lib

# binary folders
engine/win_x64/bin/
engine/win_x64/ems/
engine/linux/bin/

# session stuff
engine/source/session.vim
engine/.vscode/
engine/win_x64/*.pdb

# temporary files
*.swp
